In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### 4/8/2021: cumulative count columns have been temporarily removed, requiring adjustments

In [2]:
def weekly(new_cases):
    data = new_cases[["area", "cases", "deaths", "date", "population"]]
    data.columns = ["county", "newcountconfirmed", "newcountdeaths", "date", "population"]
    data = data.dropna()
    data = data.sort_values("date")
    clean_cases = data.loc[ (data["county"] != "Unknown") & (data["county"] != "Out of state")]
    counties = clean_cases["county"].unique().tolist()
    dates = clean_cases["date"].unique().tolist()
    weeks = np.arange(0, len(dates), 7).tolist()
    column_names = ["County", "week", "week number", "total cases", "total deaths", "Population"]
    weekly_df = pd.DataFrame(columns = column_names)
    counter = 1
    for ref in weeks:
        for county in counties:
            try:
                df = clean_cases.loc[clean_cases["county"] == county]
                df = df.reset_index(drop=True)
                df = df.loc[(df.index >= ref) & (df.index <= (ref+6))]
                weekly_cases = df["newcountconfirmed"].sum()
                weekly_deaths = df["newcountdeaths"].sum()
                period = f"{dates[ref]} to {dates[ref+6]}"
                pop = df["population"].unique()[0]
                data = pd.DataFrame({"County": [county], "week": period, "week number": counter,
                                     "total cases": weekly_cases, "total deaths": weekly_deaths, "Population": pop})
                weekly_df = weekly_df.append(data)
            except:
                print("Not enough dates.")
        counter += 1
    weekly_df["average cases"] = weekly_df["total cases"]/ 7
    weekly_df["cases per cap"] = (weekly_df["average cases"]/weekly_df["Population"]) * 100000
    weekly_df["average deaths"] = weekly_df["total deaths"]/ 7
    weekly_df["deaths per cap"] = (weekly_df["average deaths"]/weekly_df["Population"]) * 100000
    weekly_df["Population"] = weekly_df["Population"].map("{:,}".format)
    weekly_df["average cases"] = weekly_df["average cases"].astype(float).round(3)
    weekly_df["cases per cap"] = weekly_df["cases per cap"].astype(float).round(3)
    weekly_df["average deaths"] = weekly_df["average deaths"].astype(float).round(3)
    weekly_df["deaths per cap"] = weekly_df["deaths per cap"].astype(float).round(3)
    return weekly_df

In [3]:
new_cases = pd.read_csv("resources/covid19cases_test.csv")
covid_weekly = weekly(new_cases)

Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.
Not enough dates.

In [4]:
covid_weekly

,County,week,week number,total cases,total deaths,Population,average cases,cases per cap,average deaths,deaths per cap
0,Alameda,2020-02-01 to 2020-02-07,1,3.0,0.0,"1,685,886.0",0.429,0.025,0.000,0.00
0,San Luis Obispo,2020-02-01 to 2020-02-07,1,0.0,0.0,"278,862.0",0.000,0.000,0.000,0.00
0,Santa Cruz,2020-02-01 to 2020-02-07,1,0.0,0.0,"273,999.0",0.000,0.000,0.000,0.00
0,Kern,2020-02-01 to 2020-02-07,1,2.0,0.0,"927,251.0",0.286,0.031,0.000,0.00
0,Siskiyou,2020-02-01 to 2020-02-07,1,0.0,0.0,"43,956.0",0.000,0.000,0.000,0.00
...,...,...,...,...,...,...,...,...,...,...
0,Marin,2021-12-25 to 2021-12-31,100,1673.0,0.0,"260,800.0",239.000,91.641,0.000,0.00
0,Lassen,2021-12-25 to 2021-12-31,100,17.0,0.0,"30,065.0",2.429,8.078,0.000,0.00
0,San Francisco,2021-12-25 to 2021-12-31,100,6910.0,0.0,"892,280.0",987.143,110.632,0.000,0.00
0,Tulare,2021-12-25 to 2021-12-31,100,916.0,0.0,"484,423.0",130.857,27.013,0.000,0.00
0,California,2021-12-25 to 2021-12-31,100,318263.0,85.0,"40,129,160.0",45466.143,113.300,12.143,0.03

In [5]:
import json

In [6]:
# use .to_dict and 'records' orient to make our desired list
# can be used as 'data.js', or .insert_many with PyMongo
list_d = covid_weekly.to_dict(orient='records')

In [7]:
# write to a text file for our data.js later
with open("weekly_dict.txt", "w") as file:
    file.write(json.dumps(list_d))

In [8]:
new_cases

,date,area,area_type,population,cases,cumulative_cases,deaths,cumulative_deaths,total_tests,cumulative_total_tests,positive_tests,cumulative_positive_tests,reported_cases,cumulative_reported_cases,reported_deaths,cumulative_reported_deaths,reported_tests
0,2020-02-01,Alameda,County,1685886.0,3.0,3.0,0.0,0.0,4.0,4,0.0,0,0.0,0.0,0.0,0.0,NaN
1,2020-02-02,Alameda,County,1685886.0,0.0,3.0,0.0,0.0,1.0,5,0.0,0,0.0,0.0,0.0,0.0,NaN
2,2020-02-03,Alameda,County,1685886.0,0.0,3.0,0.0,0.0,0.0,5,0.0,0,0.0,0.0,0.0,0.0,NaN
3,2020-02-04,Alameda,County,1685886.0,0.0,3.0,0.0,0.0,0.0,5,0.0,0,0.0,0.0,0.0,0.0,NaN
4,2020-02-05,Alameda,County,1685886.0,0.0,3.0,0.0,0.0,1.0,6,0.0,0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42939,2021-12-31,Yuba,County,79290.0,27.0,10980.0,0.0,74.0,160.0,131849,35.0,12830,0.0,10844.0,0.0,99.0,NaN
42940,2022-01-01,Yuba,County,79290.0,26.0,11006.0,0.0,74.0,93.0,131942,28.0,12858,0.0,10844.0,0.0,99.0,NaN
42941,2022-01-02,Yuba,County,79290.0,29.0,11035.0,0.0,74.0,84.0,132026,32.0,12890,0.0,10844.0,0.0,99.0,NaN
42942,2022-01-03,Yuba,County,79290.0,0.0,11035.0,0.0,74.0,NaN,132026,NaN,12890,193.0,11037.0,0.0,99.0,1213.0
42943,NaN,Yuba,County,79290.0,2.0,11037.0,25.0,99.0,10.0,132036,1.0,12891,0.0,11037.0,0.0,99.0,NaN

### Chart generator

In [ ]:
# operations here are for charting purposes
# use a dictionary to create multiple empty lists to store cases per cap
obj = {}
counties = covid_weekly["County"].unique().tolist()
for county in counties:
    obj[county] = []

# loop through counties and append cases per cap
for county in counties:
    county_df = covid_weekly.loc[covid_weekly["County"] == county]
    obj[county].append(county_df["cases per cap"].tolist())
    
x_axis = covid_weekly["week number"].unique().tolist()

In [ ]:
# for loop that will plot and save a chart for each county listed
for county in counties:
    y = obj[county][0]

    plt.plot(x_axis, y, label = f"{county}")

    plt.title("Seven-Day Average COVID-19 Cases", fontweight="bold")
    plt.xlabel("Weeks: January 1, 2020 - December 2, 2020")
    plt.ylabel("Daily Rate per 100,000")
    plt.xticks(x_axis[::5])

    plt.legend(loc="best")
    plt.tight_layout()
    plt.grid()
    plt.savefig(f"Output_data/county_maps/{county}_cases.jpg", transparent=True, dpi=300)
    plt.clf()