In [1]:
import pandas as pd
from datetime import date
import json

In [2]:
# read in ppe info from previous ppe_cruncher notebook
ppe_crunched = pd.read_csv("resources/ppe_crunched.csv")

# read in ppe info from week 26
weekly_26 = pd.read_csv("resources/weekly_df_26.csv")

# read in ppe info from previous ppe_cruncher_updates notebook
weekly_df = pd.read_csv("resources/weekly_df_backup_03_02_2021.csv")

## Combining Data Sets.

In [3]:
# create new week number column in weekly_df, for continuous indexing
weekly_df.rename(columns = {'week number':'old week number'}, inplace = True)

# create new column with new week numbers, drop old column
weekly_df["week number"] = weekly_df["old week number"] + 26
weekly_df.drop(['old week number'], axis = 1)

,county,week,Examination Gloves,Lab Supplies,Viral Testing Media,Test Kits,Swabs,Surgical or Examination Gowns,Medical Equipment,Wipes,...,Body Bags,KN95 Respirators,Ventilators,Personnel,Beds/Cots,Lab Kit,Lab Platform,Bedding Accessories,Fit Testing Supplies,week number
0,['Santa Clara'],2020-12-05 to 2020-12-11,[51468200.0],[70000.0],[4494966.0],[1486800.0],[4540200.0],[3641680.0],[4620.0],[1898400.0],...,[0.0],[84560.0],[0.0],[490.0],[0.0],[0.0],[0.0],[0.0],[228.0],27
1,['San Luis Obispo'],2020-12-05 to 2020-12-11,[6798400.0],[36400.0],[29400.0],[0.0],[154021.0],[114820.0],[1750.0],[44520.0],...,[0.0],[148820.0],[0.0],[7.0],[0.0],[0.0],[0.0],[0.0],[0.0],27
2,['Kings'],2020-12-05 to 2020-12-11,[3161720.0],[0.0],[172480.0],[132020.0],[204421.0],[702674.0],[0.0],[14000.0],...,[0.0],[87640.0],[0.0],[77.0],[0.0],[0.0],[0.0],[0.0],[0.0],27
3,['Yuba'],2020-12-05 to 2020-12-11,[9051000.0],[0.0],[74172.0],[89600.0],[210014.0],[437556.0],[700.0],[0.0],...,[0.0],[0.0],[0.0],[47.0],[0.0],[0.0],[0.0],[0.0],[0.0],27
4,['Shasta'],2020-12-05 to 2020-12-11,[967000.0],[0.0],[178416.0],[313600.0],[233100.0],[141554.0],[392.0],[6720.0],...,[0.0],[0.0],[0.0],[98.0],[0.0],[0.0],[0.0],[0.0],[57.0],27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,['Sonoma'],2021-02-20 to 2021-02-26,[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],39
750,['Mono'],2021-02-20 to 2021-02-26,[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],39
751,['Lassen'],2021-02-20 to 2021-02-26,[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],39
752,['El Dorado'],2021-02-20 to 2021-02-26,[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],39
753,['Alpine'],2021-02-20 to 2021-02-26,[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],39

In [4]:
print(weekly_df['week number'].unique())

[27 28 29 30 31 32 33 34 35 36 37 38 39]

In [5]:
# drop the last week in ppe_crunched with no elements to utilize
ppe_crunched = ppe_crunched.loc[ppe_crunched['week number'] < 26]
print(ppe_crunched['week number'].unique())

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25]

In [6]:
# append new dataframes to previous ppe info, for a complete dataset
pre_df = ppe_crunched.append(weekly_26)

new_df = pre_df.append(weekly_df)

In [7]:
print(new_df['week number'].unique())
new_df

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39]

,county,week,week number,Face Shields (Disposable),Surgical Masks,Cloth Masks,Surgical or Examination Gowns,Examination Gloves,N-95 Respirators,Hand Sanitizers,...,Beds/Cots,Body Bags,Lab Kit,Ventilators,Personnel,Sample Collecting Kits,Lab Platform,Bedding Accessories,Fit Testing Supplies,old week number
0,['Kern'],2020-06-10 to 2020-06-16,1,[1656500.0],[2282000.0],[3673500.0],[2143190.0],[1161000.0],[3658718.0],[5707127.0],...,[0.0],[0.0],[0.0],[0.0],[539.0],[0.0],[0.0],[0.0],[0.0],NaN
1,['Mariposa'],2020-06-10 to 2020-06-16,1,[840.0],[568000.0],[0.0],[11592.0],[0.0],[1680.0],[32928.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],NaN
2,['Merced'],2020-06-10 to 2020-06-16,1,[63480.0],[2894000.0],[19000.0],[802550.0],[2072000.0],[246960.0],[1890.0],...,[0.0],[2800.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],NaN
3,['Mono'],2020-06-10 to 2020-06-16,1,[5900.0],[461000.0],[20500.0],[19558.0],[381500.0],[308420.0],[30622.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],[0.0],NaN
4,['Napa'],2020-06-10 to 2020-06-16,1,[78344.0],[774000.0],[612000.0],[172480.0],[660000.0],[820628.0],[1019012.0],...,[0.0],[0.0],[0.0],[0.0],[0.0],[36400.0],[0.0],[0.0],[0.0],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,['Sonoma'],2021-02-20 to 2021-02-26,39,[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],13.0
750,['Mono'],2021-02-20 to 2021-02-26,39,[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],13.0
751,['Lassen'],2021-02-20 to 2021-02-26,39,[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],13.0
752,['El Dorado'],2021-02-20 to 2021-02-26,39,[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],13.0
753,['Alpine'],2021-02-20 to 2021-02-26,39,[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],13.0

In [8]:
# this was getting messy, skip the above combinations next time for updates
# redundant backup
new_df.to_csv(f"resources/weeks_01-39.csv", index=False, header=True)

## Clean up, formatting.

In [ ]:
# fix county with string replace
new_df["county"] = new_df["county"].str.replace("[", "")
new_df["county"] = new_df["county"].str.replace("]", "")
new_df["county"] = new_df["county"].str.replace("'", "")
print(new_df["county"].unique())

In [ ]:
# create list of product families
product_list = ['Face Shields (Disposable)', 'Surgical Masks', 'Cloth Masks', 'Surgical or Examination Gowns',
            'Examination Gloves', 'N-95 Respirators', 'Hand Sanitizers', 'Wipes', 'Other / None of the above',
            'Cleaning Supplies', 'Swabs', 'Viral Testing Media', 'Pharmaceuticals', 'Shoe Covers', 'Test Kits',
            'KN95 Respirators', 'Coveralls (Hospitals or EMS)', 'Medical Equipment', 'Goggles', 'Lab Supplies',
            'Beds/Cots', 'Body Bags', 'Lab Kit', 'Ventilators', 'Personnel', 'Sample Collecting Kits', 'Lab Platform',
            'Bedding Accessories', 'Fit Testing Supplies']
print(product_list)
print(len(product_list))

In [ ]:
# iterate through product list and string replace each remaining column left to clean
for product in product_list:
    new_df[product] = new_df[product].str.replace("[", "")
    new_df[product] = new_df[product].str.replace("]", "")

In [ ]:
# replace nan values in dataframe with zeroes, for entire dataframe
new_df = new_df.fillna(0)

In [ ]:
# drop the last week in ppe_crunched with no elements to utilize
new_df = new_df.loc[new_df['week number'] < 39]

In [ ]:
# columns with brackets are strings
new_df

In [ ]:
# formatting
for product in product_list:
    new_df[product] = new_df[product].astype(float)

In [ ]:
# check our results
new_df

In [ ]:
# use .to_dict and 'records' orient to make our desired list
list_d = new_df.to_dict(orient='records')

In [ ]:
# write to a text file for our data.js later
with open("weekly_dict.txt", "w") as file:
    file.write(json.dumps(list_d))

In [ ]:
# create dataframe of weeks and week numbers, using groupby method
week_group = new_df.groupby(["week"])

# reset index
week_group.reset_index.(drop=True)

# isolate columns for week information
week_group = week_group[["week", "week number"]]
week_group